/**********************************************************************************************************************
 * Generic Styles
 *********************************************************************************************************************/

.font-helvetica {
	font-family: helvetica,arial,verdana,sans-serif;
	font-size: 0.9rem;
	font-weight: 300;
	line-height: 17px;
}

.narrow {
	transition: padding-left 250ms, padding-right 250ms;
}

@media only screen and (min-width: 992px) {
  .narrow {
   padding-left: 25%;
   padding-right: 25%;
  }
}

@media only screen and (max-width: 992px) {
  .narrow {
   padding-left: 5%;
   padding-right: 5%;
  }
}

.text-small {
	font-size: 50%;
}

.align-center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.code-block {
	border-style: solid;
	border-width: 1px;
	border-radius: 8px;
	border-color: #708090;
	background-color: #e6e6e6;
	padding: 10px;
}

.code-block code {
	white-space: pre-wrap;
	background-color: inherit;
	padding-left: 0;
	padding-right: 0;
	border: none;
}

.with-above {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;
}

.with-iframe {
  border-bottom-style: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
  margin-right: -2px;
}

.with-output, .output.with-output {
  border-bottom-style: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
}

.output {
	border-style: solid;
	border-width: 1px;
	border-color: #708090;
	background-color: #e6e6e6;
	padding: 10px;
}

.output.white {
  background-color: white;
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.alert {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #A52A2A;
  background-color: #FFB6C1;
  color: #DC143C;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.alert i {
  font-size: 2rem;
  padding-right: 10px;
}

code {
	white-space: nowrap;
	background-color: rgb(240,240,240);
	padding-left: 2px;
	padding-right: 2px;
	border: 1px solid rgb(220,220,220);
	border-radius: 3px;
}

iframe {
  border-color: #708090;
	border-style: solid;
  border-width: 1px;
	width: 100%;
}

/**********************************************************************************************************************
 * Table Styles
 *********************************************************************************************************************/

table {
	border-collapse: collapse;
	width: 500px;
}

thead, tfoot {
	font-weight: bold;
	background-color: rgb(100,100,100);
	color: white;
}

th {
	height: 50px;
	padding-left: 10px;
	padding-right: 10px;
}

tbody tr:hover {
	background-color: #f5f5f5;
}

td {
	padding: 5px;
}

table, th, td {
	border: 1px solid black;
}

table.small th {
	height: 30px;
}

table.small td {
	padding: 3px;
}

/**********************************************************************************************************************
 * Resizable component
 *********************************************************************************************************************/

.resizable {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/**********************************************************************************************************************
 * Image comparison
 *********************************************************************************************************************/

.image-comparison {
  border-color: #708090;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.image-comparison figure {
  margin: 0;
  padding: 10px;
}

.image-comparison figure figcaption {
  text-align: center;
}

.image-comparison figure img {
  max-width: 100%;
}

@media only screen and (min-width: 992px) {
  .image-comparison figure {
    max-width: calc(50% - 21px);
  }

  .image-comparison figure:not(:first-child) {
    border-left-color: #708090;
    border-left-style: solid;
    border-left-width: 1px;
  }
}

@media only screen and (max-width: 992px) {
  .image-comparison figure {
    max-width: 100%
  }

  .image-comparison figure:not(:first-child) {
    border-top-color: #708090;
    border-top-style: solid;
    border-top-width: 1px;
  }
}
